{% extends "core/index.html" %}

{% block content %}
<form action="/todolist/{{ action }}/" method="post">
{% csrf_token %}
  <div class="form-group">
    <label for="description">description</label>
    <input type="text" class="form-control" id="description" name=description value="{{ description }}">
  </div>
  <div class="form-group">
    <label for="text">description</label>
    <input type="text" class="form-control" id="text" name=text value="{{ text }}">
  </div>
    <input class="btn btn-primary" type=submit value="{{ button }}">
</form>

{% endblock %}