
{% extends "core/index.html" %}

{% block content %}

<h2>Registrar usuario</h2>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Registrar</button>
</form>

<hr />
{% endblock %}