{% extends "core/index.html" %}

{% block content %}
{% if message %}
 <b>{{ message }}</b>
 <p>
 {% endif %}
 {% if tasks %}
     <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
     {% for task in tasks %}
         <tr>
      <th scope="row"></th>
         {% if task.status%}
              <td><a href="/todolist/task/{{task.pk}}">{{task}}</a></td>

         {% else %}
              <td><strike><a href="/todolist/task/{{task.pk}}">{{task}}</a></strike></td>
         {% endif %}
              <td><a href="/todolist/edit/{{ task.id }}">Edit</a></td>
              <td><a href="/todolist/delete/{{ task.id }}">Delete</a></td>
              <td><a href="/todolist/new/{{todos}}">Añadir nueva tarea</a></td>
              {% if task.status %}
                <td><a href="/todolist/terminar/{{ task.id }}">desactivar</a></td>
              {% else %}
                <td><a href="/todolist/terminar/{{ task.id }}">activar</a></td>
              {% endif %}
              
         </tr>
     {% endfor %}
        </tbody>
    </table>
     <p>
 {% else %}
     <p>No task found.</p>
     <p><a href="/todolist/new/{{todos}}">Añadir nueva tarea</a></p>
 {% endif %}



{% comment %} {% for task in tasks %}
<a href="/todolist/task/{{task.pk}}">{{task}}</a>
{% endfor %} {% endcomment %}
{% endblock %}
