{% extends "core/index.html" %}

{% block content %}
<div class="card">
  <div class="card-header">
    <p>{{task.description}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{task.text}}</h5>
    <a href="/todolist/tasks/{{task.todolist.pk}}" class="btn btn-primary">Go back</a>
  </div>
</div>
    
    
{% endblock %}
