{% extends "core/index.html" %}

{% block content %}


{% for todo in tdlist %}
    {% if message %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    
    {% endif %}
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">My TodoList</h5>
            <p class="card-text">deafult TodoList by django</p>
            <a href="/todolist/tasks/{{todo.pk}}" class="btn btn-primary">{{todo}}</a>
        </div>
    </div>
    

{% endfor %} 
{% comment %} {{tdlist}} {% endcomment %}
{% endblock %}
