<html lang="es">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{% block title %} | Assumpte SA {% endblock  %} </title>
    <!-- Bootstrap -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/img/favicon.png' %}" rel="icon">
    <link href="{% static 'core/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <!-- Estilos -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navegación -->
    {% include "core/topbar.html" %}
    {% include "core/header.html" %}
    {% include "core/hero.html" %}
    <main id="main">
    <!-- Contenido unico por web-->
    {% block content %}
    
    {% endblock content %}

</main>
    <!-- Pié de página -->
    {% include "core/footer.html" %}
    <!-- Bootstrap -->
    <!-- Vendor JS Files -->
    <script src=" {% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'core/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'core/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'core/vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'core/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'core/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'core/vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'core/js/main.js' %}"></script>
  </body>

</html>