<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{% url 'index' %}">Assumpte SA<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="{% if request.path == '/'%} active {%endif%}"><a href="{% url 'index' %}">Home</a></li>
          <li class="{% if request.path == '/about/'%} active {%endif%}"><a href="#about">About</a></li>
          <li class="{% if request.path == '/polls/'%} active {%endif%}"><a href="{% url 'polls' %}">Polls</a></li>
          <li class="{% if request.path == '/todolist/'%} active {%endif%}"><a href="{% url 'todolist' %}">Todolist</a></li>
          <li><a href="#">
          {% if user.is_authenticated %}
            {{user.username}}
            <li><a href="{% url 'logout_yampi' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login_yampi' %}">Login</a></li>
            <li><a href="{% url 'register_yampi' %}">Register</a></li>
          {% endif %}
          
          </a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          {% comment %} <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li> {% endcomment %}

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->