{% extends "core/index.html" %}

    {% block content %}
    <div class="container mt-5 pt-5">
    <p>Preguntas del Question</p>
    <ul>
    {% for question in questions  %}
        <li>{{question.question_text}}</li>
    {% endfor %}
    </ul>

    </div>
{% endblock %}

